In [1]:
from os import system

import pandas as pd
import glob
import scripts.vizer as vz

In [5]:
data_label = pd.read_csv('phenotypes_preprocessed.csv')
dlabel = data_label[['subject','AGE_AT_SCAN','SEX']]
dlabel.describe()

            subject  AGE_AT_SCAN          SEX
count   1112.000000  1112.000000  1112.000000
mean   50752.684353    17.048864     1.147482
std      447.680666     8.036419     0.354745
min    50002.000000     6.470000     1.000000
25%    50354.750000    11.658575     1.000000
50%    50724.500000    14.660000     1.000000
75%    51153.250000    20.085000     1.000000
max    51607.000000    64.000000     2.000000

In [6]:
files = []
subjectID = []
for f in glob.glob("data/*.1D"):
    files.append(pd.read_csv(f, sep="\t"))
    labels = f.split('_')
    if len(labels[1]) > 2:
        subjectID.append(labels[1])
    else:
        subjectID.append(labels[2])
assert(len(s) == 7 for s in subjectID)

test_data = pd.DataFrame({'file': files, 'subject': subjectID})
test_data["subject"] = pd.to_numeric(test_data["subject"])

In [4]:
test_data = pd.merge(test_data, dlabel, on='subject', how='inner')
test_data.describe()

            subject  AGE_AT_SCAN         SEX
count    883.000000   883.000000  883.000000
mean   50767.738392    17.210906    1.156285
std      451.474845     8.129171    0.363331
min    50004.000000     6.470000    1.000000
25%    50354.000000    11.861100    1.000000
50%    50752.000000    14.800000    1.000000
75%    51151.500000    20.190350    1.000000
max    51607.000000    64.000000    2.000000